@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>User Roles</h2>
<p>
    @Html.ActionLink("Create New","Create" , "Role")
</p>
<table class="table">
    <tr>
        <th>
            User Roles
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to home","Index", "Admin")
</p>

