<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Receipt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
    <table width="100%"
           bgcolor="#ffffff"
           border="0"
           cellspacing="0"
           cellpadding="0"
           style="padding: 32px;
                  background-color: #ffffff;
                  color: #646464;
                  font-family: Roboto, 'Helvetica Neue', helvetica, arial, sans-serif;
                  font-size: 16px;
                  line-height: 1.375em;">
        <tbody>
            <tr>
                <td>
                    <div align="center">
                        <table width="600" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="100%"
                                        bgcolor="#ffffff"
                                        style="border-width: 1px;
                                               border-style: solid;
                                               border-color: #bfbfbf;
                                               padding: 30px;
                                               background-color: #ffffff;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <!--<td width="100%" valign="top" colspan="12">
                                                        <a href="#" target="_blank" style="display: block;">
                                                            <!--<img width="132"
                                                                 height="60"
                                                                 class="logo"
                                                                 style="max-width: 132px; margin-bottom: 32px;"
                                                                 alt="Lowe&rsquo;s Greenhouse Logo"
                                                                 title="Lowe&rsquo;s Greenhouse"
                                                                 src="http://staging.lowesgreenhouse.trait.co/assets/img/logo-lowes-lg.png" />
                                                        Task and Time Management System</a>
                                                    </td> -->
                                                    <td><p>Task and Time Management System</p></td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" valign="top" colspan="12">
                                                        <hr style="margin: 0;
                                                                   margin-bottom: 1em;
                                                                   border: 0;
                                                                   border-top: 1px solid #bfbfbf;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" valign="top" colspan="12">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%" valign="top" colspan="12">
                                                                        <div style="font-size: 14px;">
                                                                            <p style="margin-bottom: 1em;">Dear User,</p>
                                                                            <p>Assigned task has been completed</p>
                                                                            <p>
                                                                                Work: ##Work##
                                                                            </p>
                                                                            <p>
                                                                                By: ##By##
                                                                            </p>
                                                                            <!--<p>
                                                                                Message: ##Message##
                                                                            </p>-->
                                                                            <!--
                                                                            <p>
                                                                                <a href="##ActivationLink##">##ActivationLink##</a>
                                                                            </p>
                                                                            -->
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 24px;">
                    <div align="center">
                        <table width="600" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="100%" valign="top" colspan="12">
                                        <div style="color: #bfbfbf; font-size: 12px;">
                                            <strong>Confidentiality Statement:</strong>
                                            <br />
                                            The information contained herein is confidential and
                                            privileged information only for the use of the intended recipient, you are hereby
                                            notified that any disclosure, dissemination, distribution or copying of this communication
                                            is strictly prohibited. If you have received this transmission in error, please
                                            notify us by electronic mail and fully delete this message from all files and drives
                                            in your possession, custody or control.
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
